<h3>Heyo! It's Jen's! Dynamic! Content!</h3>

<p>If I can figure out how to do this right, this partial view should be revealed then hidden each time I click on the "Get! Dynamic! Content!" link on my about page.</p>